body {
	background: linear-gradient(to bottom right, #6bb9f0, #3f7bbf);
	color: #444;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
  }
  
  header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
  }
  
  .logo img {
	height: 50px;
  }
  
  .menu-toggle {
	display: none;
  }
  
  .menu-icon {
	color: #fff;
	font-size: 24px;
	cursor: pointer;
  }
  
  .menu {
	display: none;
	position: absolute;
	top: 100%; /* Ajuste a distância conforme necessário */
	right: 0;
	background-color: #333; /* Altere as cores conforme necessário */
	padding: 10px;
	z-index: 999; /* Certifique-se de que o menu esteja acima dos outros elementos */
  }
  
  .menu-toggle {
	display: none;
  }
  
  .menu-icon {
	font-size: 24px;
	color: #fff;
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 999;
  }
  
  .menu {
	display: none;
	position: absolute;
	top: 60px;
	right: 20px;
	background-color: #fff;
	padding: 10px;
	border-radius: 4px;
	z-index: 998;
  }
  
  .menu.active {
	display: block;
  }
  
  .menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .menu li {
	margin-bottom: 10px;
  }
  
  .menu a {
	color: #444;
	text-decoration: none;
	font-size: 16px;
  }
  
  main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
  }
  
  h2 {
	font-size: 28px;
	text-align: center;
	margin-bottom: 20px;
  }
  
  .artista img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
  }
  
  .artista p {
	text-align: justify;
  }
  
  .artista a {
	display: block;
	text-align: center;
	margin-top: 20px;
	background-color: #fff;
	color: #444;
	padding: 10px;
	text-decoration: none;
  }
  
  .depoimentos {
	margin-top: 40px;
  }
  
  .depoimento {
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 20px;
  }
  
  .depoimento p {
	font-style: italic;
	margin-bottom: 10px;
  }
  
  .depoimento span {
	font-weight: bold;
  }
  
  .ins {
	text-align: center;
  }
  
  .ins a {
	display: block;
	margin-top: 20px;
	color: #fff;
	text-decoration: none;
  }