body {
	background: linear-gradient(to bottom right, #6bb9f0, #3f7bbf);
	color: #444;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
  }
  
  header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
  }
  
  .logo img {
	height: 50px;
  }
  
  nav ul {
	list-style: none;
	display: flex;
  }
  
  nav li {
	margin-left: 20px;
  }
  
  nav a {
	color: #fff;
	text-decoration: none;
  }
  
  main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
  }
  
  h2 {
	font-size: 28px;
	text-align: center;
	margin-bottom: 20px;
  }
  
  .artista img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
  }
  
  .artista p {
	text-align: justify;
  }
  
  .artista a {
	display: block;
	text-align: center;
	margin-top: 20px;
	background-color: #fff;
	color: #444;
	padding: 10px;
	text-decoration: none;
  }
  
  .depoimentos {
	margin-top: 40px;
  }
  
  .depoimento {
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 20px;
  }
  
  .depoimento p {
	font-style: italic;
	margin-bottom: 10px;
  }
  
  .depoimento span {
	font-weight:
}

